html {
	height:100vh;
}
main {
    .banner {
        margin-top: 15vh;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    #login {
        width: 80%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px 0px 10%;
    }
    form {
        width: 250px;
        text-align: center;
        font-family: Cinzel, serif;
        margin: 0px auto;
    }
    h1 {
    	padding: 15px;
    text-align:center;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    	color:$gold;
        margin-bottom:10px;
}
	h2{

		color:whitesmoke;
	}
input, .btn {
    width: 100%;
    font-size: 15px;
    display: inline-block;
    border-radius: 20px;
    margin: 10px -10px;
    padding: 5px;
}
.forgot-link{
	text-decoration: none;
	color:$gold;
}
}