.btn {
  border:none;
  font-weight: $paragraph;
  font-size: 10pt;
  box-shadow: none;
  padding:4px 8px;
  
  &.success {
    color:#fff;
    background: $gold;
    &:hover {
      background: lighten($gold, 5%);
    }
    &:active {
       background: darken($gold, 10%);
    }
  }
  &.danger {
    color:#fff;
    background: $danger;
    &:hover {
      background: lighten($danger, 5%);
    }
    &:active {
       background: darken($danger, 10%);
    }
  }
  &.default {
    color:#fff;
    background: $gold;
    &:hover {
      background: darken($gold, 5%);
    }
    &:active {
       background: darken($gold, 25%);
    }
  }
}

